/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* If width is less than 1024 px do something else */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Roboto, Arial, sans-serif;
  vertical-align: baseline;
  font-weight: 100;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.8;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button, input {
  box-sizing: border-box;
  background: #fff;
  font-family: Roboto, Arial, sans-serif;
}
/* end reset */

html {
  border-style: solid;
  background: #f9f9f9;
}

img {
  float: left;
  width: 168px;
  height: 94px;
}

/* Header Formatting */

header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 65px;
  top: 0;
  padding: 0 16px;
  justify-content: space-between;
  align-items: center;
  /* border-width: 2px;
  border-style: solid; */
  background: #fff;
  z-index: 1;
}

#guide-icon {
  width: 40px;
  height: 40px;
  padding: 8px;
  margin-right: 16px;
}

#YT-logo {
  width: 129px;
  height: 24px;
  padding-right: 49px;
}

#search-container {
  display: flex;
  align-items: center;
  flex-grow: 2;
}

#search-bar {
  height: 32px;
  width: 100%;
  margin-left: 40px;
  border-width: 1px;
  border-color: rgb(211, 211, 211);
  border-radius: 2px;
  border-bottom-style: solid;
  padding-left: 8px;
  font-size: 1.5em;
}

#search-bar:focus {
  outline: 0;
  border-color: rgb(7, 82, 179);
  box-shadow: inset 0 0 1.5px gray;
}

#search-icon {
  width: 65px;
  height: 20px;
  padding: 0 22.5px;
  background: rgba(0,0,0,0);
}

#search-button {
  margin-right: 61px;
  width: 65px;
  height: 32px;
  background: rgb(248, 248, 248);
  border-color: rgb(211, 211, 211);
  border-width: 1px;
  border-radius: 2px;
  transition: 0.2s;
  padding: 0;
}

#search-button:hover {
  background: rgb(240,240,240);
}

.header-btn-images {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  padding: 0;
  border: 0;
}

.header-buttons {
  height: 40px;
  width: 40px;
  margin-right: 8px;
  border-radius: 50%;
  border: 0;
}

#sign-in-button {
  border: thin solid rgb(6,95,212);
  width: 105.3px;
  padding: 5px 11px;
  display: flex;
  align-items: center;
}

#sign-in-logo {
  height: 24px;
  width: 24px; 
}

#sign-in-text {
  margin-left: 8px;
  color: rgb(6, 95, 212);
  font-weight: 700;
  font-size: 1.3rem;
}

/****************** Main Body *************************/

#content-container {
  display: flex;
  padding-top: 80px;
  width: auto;
  flex-direction: row-reverse;
  justify-content: center;
}

iframe {
  float: left;
  position: relative;
  z-index: 0;
}

/* Meta data info */

.video-comments {
  order: 2;
  width: 560px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 40px;
}

#title-information {
  border-bottom: thin solid rgb(202, 202, 202);
  border-width: 1px;
  width: 560px;
}

#video-title {
  padding-top: 12px;
  padding-bottom: 8px;
}

.bottom-bar-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}

h5 {
  font-size: 1.4em;
  color: #606060;
}
.video-reaction-button {
  display: flex;
  align-items: center;
  border-width: 0;
  background-color: transparent;
  
}

.meta-buttons {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  transition: 0.4s;
  padding: 6px;
}


.meta-buttons:active {
  background-color: rgb(144,144,144);
}

.response {
  color: #606060;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
  font-size: 1.8em;
  font-weight: 400;
}


/******************** Author Info ******************************/

#author-description {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

#author-image, #profile-img, .commenter-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
}
#author-info {
  flex-grow: 2;
  
}

#author {
  font-size: 1.4em;
  font-weight: 600;
  line-height: 16px;
}

#subscribe {
  color: #fff;
  background: #cc0000;
  width: 105.5px;
  height: 37px;
  border: 0;
  border-radius: 2px;
  border-color: #cc0000;
  box-shadow: none;
  font-weight: 550;
  text-transform: uppercase;
  font-size: 14px;
}
  
/************** Video Description *************************/

#video-description {
  display: flex;
  flex-direction: column;
  border-bottom: thin solid rgb(202, 202, 202);
  border-width: 1px;
  padding-left: 64px;
  padding-bottom: 16px;

}

p {
  font-size: 1.4em;
  line-height: 2.1rem;
}

#description-expand {
  border: 0;
  background-color: transparent;
  color: rgba(17,17,17,0.6);
  font-size: 1.3em;
  font-weight: 600;
  width: 100px;
  text-align: left;
  padding: 0;
  margin-top: 8px;
}

.hidden {
  display: none;
}

.video-description-properties-container {
  display: flex;
  flex-direction: row;
  width: auto;
}

.video-description-properties {
  width: 110px;
}

.vid-link {
  color: #065fd4;
  font-size: 1.4em;
  text-decoration: none;
  font-weight: 600;
}

.vid-link:visited {
  color: #0d0d0d;
}

/************************ Comments ******************************/

#comment-bar {
  margin-top: 24px;
  margin-bottom: 24px;
}

#comment-sort {
  vertical-align: middle;

  line-height: 26px;
}

#number-of-comments {
  font-size: 1.6em;
  color: #0d0d0d;
  margin-right: 32px;
}

#sort-by-icon {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

#comment-sort {
  border: 0;
  background-color: transparent;
  font-weight: 600;
  color: #606060;
  
}

#add-comment-container {
  margin-bottom: 42px;
}

#add-comment {
  background-color: transparent;
  width: 496px;
  padding-bottom: 4px;
  border-width: 0;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0,0,0,.1);
  color: #606060;
  font-size: 1.4em;
}

.comment-response-info,
.add-comment-container,
#comment-bar {
  display: flex;
  flex-direction: row;

}

b {
  font-weight: 600;
}

/*************** Comment Section **************/

.comment-response-info {
  align-items: center;
}

.comment-thumbs-img {
  height: 16px;
  width: 16px;
  background-color: transparent;
}

.comment-thumbs {
  padding: 8px;
  border-radius:50%;
  border: 0;
  transition: 0.5s;
  background-color: transparent;
  background-image: url("images/yt_thumbsDown_selected.png");
}

.comment-thumbs:active {
  background-color: #9b9b9b;
}

.comment-thumbs-img:hover {
  background-image: url("images/yt_thumbsUp_selected.png");
  filter: invert(34%) sepia(31%) saturate(0%) hue-rotate(161deg) brightness(97%) contrast(84%);
  /* Color change taken from https://codepen.io/sosuke/pen/Pjoqqp */
}

.comment-thumbs-up-count, .comment-thumbs-down-count {
  color: #606060;
  font-size: 1.3em;
  margin-right: 8px;
}

.comment-box {
  margin: 12px 0;
}

.comment-reply {
  padding: 8px 16px;
  border: 0;
  background-color: transparent;
  font-size: 1.3em;
  color: #606060;
  text-transform: uppercase;
  font-weight: 500;
}

/**************** Suggested Videos ************/

#suggested-videos-container {
  /* float: right; */
  order: -1;
  width: 400px;
}
.suggested-videos {
  border-width: 2px;
  border-style: solid;
  height: 94px;
  margin-bottom: 10px;
}



.suggested-videos-title {
  color: rgb(13,13,13);
  font-size: 1.4em;
  font-weight: 700;

}

.suggested-videos-author,
.suggested-videos-views {
  color: rgb(13,13,13);
  font-size: 1.3em;
}