/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Roboto, Arial, sans-serif;
  vertical-align: baseline;
  font-weight: 100;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.8;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button, input {
  box-sizing: border-box;
  background: #fff;
}
/* end reset */

html {
  border-style: solid;
  background: #f9f9f9;
}

img {
  float: left;
  width: 168px;
  height: 94px;
}

/* Header Formatting */

header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 65px;
  top: 0;
  padding: 0 16px;
  justify-content: space-between;
  align-items: center;
  /* border-width: 2px;
  border-style: solid; */
  background: #fff;
  z-index: 1;
}

#guide-icon {
  width: 40px;
  height: 40px;
  padding: 8px;
  margin-right: 16px;
}

#YT-logo {
  width: 129px;
  height: 24px;
  padding-right: 49px;
}

#search-container {
  display: flex;
  align-items: center;
  flex-grow: 2;
}

#search-bar {
  height: 32px;
  width: 100%;
  margin-left: 40px;
  border-width: 1px;
  border-color: rgb(211, 211, 211);
  border-radius: 2px;
  border-bottom-style: solid;
  padding-left: 8px;
  font-size: 1.5em;
}

#search-bar:focus {
  outline: 0;
  border-color: rgb(7, 82, 179);
  box-shadow: inset 0 0 1.5px gray;
}

#search-icon {
  width: 65px;
  height: 20px;
  padding: 0 22.5px;
  background: rgba(0,0,0,0);
}

#search-button {
  margin-right: 61px;
  width: 65px;
  height: 32px;
  background: rgb(248, 248, 248);
  border-color: rgb(211, 211, 211);
  border-width: 1px;
  border-radius: 2px;
  transition: 0.2s;
  padding: 0;
}

#search-button:hover {
  background: rgb(240,240,240);
}

.header-btn-images {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  padding: 0;
  border: 0;
}

.header-buttons {
  height: 40px;
  width: 40px;
  margin-right: 8px;
  border-radius: 50%;
  border: 0;
}

#sign-in-button {
  border: thin solid rgb(6,95,212);
  width: 105.3px;
  padding: 5px 11px;
  display: flex;
  align-items: center;
}

#sign-in-logo {
  height: 24px;
  width: 24px; 
}

#sign-in-text {
  margin-left: 8px;
  color: rgb(6, 95, 212);
  font-weight: 700;
  font-size: 1.3rem;
}

/* Main Body */

#content-container {
  display: flex;
  padding-top: 80px;
  width: auto;
  flex-direction: row-reverse;
}

iframe {
  float: left;
  position: relative;
  z-index: 0;
}

/* Meta data info */

.video-comments {
  order: 2;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

#title-information {
  border-bottom: thin solid rgb(202, 202, 202);
  border-width: 1px;
  width: 560px;
}

#video-title {
  padding-top: 12px;
  padding-bottom: 8px;
}

.bottom-bar-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}

h5 {
  font-size: 1.4em;
  color: #606060;
}
.video-reaction-button {
  display: flex;
  align-items: center;
  border-width: 0;
  background-color: transparent;
  
}

.thumbs {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  transition: 0.4s;
  padding: 6px;
}

#share-img, #save-img {
  
}

.thumbs:active {
  background-color: rgb(144,144,144);
}

.response {
  color: #606060;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
  font-size: 1.8em;
  font-weight: 400;
}

#video-description {
  display: flex;
  flex-direction: row;
  border-bottom: thin solid rgb(202, 202, 202);
  border-width: 1px;
}

#author-image, #profile-img, .commenter-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 16px;
}
#author-info {
  flex-grow: 2;
}
#subscribe {
  width: 113.5px;
}

.comment-response-info,
.add-comment-container,
#comment-bar {
  display: flex;
  flex-direction: row;

}

b {
  font-weight: 600; /* fix eventually */
}

#suggested-videos-container {
  /* float: right; */
  order: -1;
  width: 400px;
}
.suggested-videos {
  border-width: 2px;
  border-style: solid;
  height: 94px;
  margin-bottom: 10px;
}



.suggested-videos-title {
  color: rgb(13,13,13);
  font-size: 1.4em;
  font-weight: 700;

}

.suggested-videos-author,
.suggested-videos-views {
  color: rgb(13,13,13);
  font-size: 1.3em;
}